default_language_version:
  python: python3.11
repos:
  - repo: https://github.com/ministryofjustice/devsecops-hooks
    rev: v1.2.0
    hooks:
      - id: baseline
  - repo: https://github.com/ambv/black
    rev: 23.9.1
    hooks:
      - id: black
        language_version: python3.11
  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        language_version: python3.11
  - repo: https://github.com/jazzband/pip-tools
    rev: 7.3.0
    hooks:
      - id: pip-compile
        language_version: python3.11
        name: pip-compile requirements.in
        files: requirements(|lint).in
        args:
          [
            requirements/source/requirements.in,
            "--output-file",
            requirements/generated/requirements.txt,
          ]
      - id: pip-compile
        language_version: python3.11
        name: pip-compile requirements-linting.in
        files: requirements(|-lint).in
        args:
          [
            requirements/source/requirements-linting.in,
            "--output-file",
            requirements/generated/requirements-linting.txt,
          ]
